@import url("https://fonts.googleapis.com/css2?family=Allison&family=Asul2&family=Cardo&family=Cormorant+Garamond:ital,wght@1,300&display=swap");

:root {
  /* dark shades of primary color*/

  --clr-primary-1: hsl(245, 91%, 17%);
  --clr-primary-2: hsl(245, 84%, 25%);
  --clr-primary-3: hsl(245, 81%, 29%);
  --clr-primary-4: hsl(245, 77%, 34%);
  --clr-primary-5: hsl(245, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(245, 57%, 50%);
  --clr-primary-7: hsl(245, 65%, 59%);
  --clr-primary-8: hsl(245, 80%, 74%);
  --clr-primary-9: hsl(245, 94%, 87%);
  --clr-primary-10: hsl(245, 87%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(206, 33%, 96%);
  --clr-green-dark: hsl(125, 67%, 35%);
  --clr-green-light: hsl(134, 41%, 88%);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-white: #fff;
  --clr-black: #0a0c10;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 700px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar section */

nav {
  margin: auto;
  font-family: "Asul", sans-serif;
  background-color: #f5f5f4;
  /* font-family: "Allison", cursive; */
}

nav .nav-container {
  min-height: 10vh;
  width: 50vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  padding: 0.8rem;
  text-decoration: none;
  color: black;
}

.nav-item2 {
  font-size: 1.5rem;
}

.nav-item1,
.nav-item3 {
  font-size: 0.8rem;
}

/* Hero section */

.hero-section {
  height: 80vh;
  width: 100%;
}
.hero-card {
  height: 75vh;
  width: 100%;
  position: relative;
  z-index: 1;
}
.hero-img-1 {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), transparent),
    url("../assets/hero-img-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* animation: fadeImg 1.5s ease-in-out forwards; */
}

.hero-img-2 {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), transparent),
    url("../assets/hero-img-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* animation: fadeImg 1.5s ease-in-out forwards; */
}

.hero-img-3 {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), transparent),
    url("../assets/hero-img-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* animation: fadeImg 1.5s ease-in-out forwards; */
}

.hero-description {
  position: absolute;
  width: 400px;
  color: rgb(255, 255, 255);
  left: 70px;
  bottom: 100px;
  font-family: "Cardo", serif;
  line-height: 1.8;
  font-weight: 300;
}

.hero-description p {
  font-size: 1.2rem;
  font-weight: 100;
}

.hero-description .title {
  font-size: 3rem;
  font-weight: 100;
  position: relative;
}

.divider {
  position: absolute;
  width: 150px;
  height: 1px;
  border-radius: 10px;
  background-color: rgb(236, 232, 240);
  bottom: 10px;
  z-index: 2;
}

.hero-item-left {
  position: absolute;
  left: 0;
  top: 50%;
}
.hero-item-left:hover {
  transform: scale(1.5);
  cursor: pointer;
}
.hero-item-right:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.hero-item-right {
  position: absolute;
  right: 0;
  top: 50%;
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* About section */

.about-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
}

.about-text-section h1 {
  padding: 30px;
}
.about-text-section {
  flex: 1 1 40rem;
  background-color: #faf7f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: 100;
}

.about-img-section {
  flex: 1 1 40rem;
  background-color: #df9e89;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-img {
  border-radius: 10px;
}

.about-img-section > div {
  background-color: aquamarine;
  position: absolute;
  /* right: 100px; */
  z-index: 10;
}
.about-img::after {
  content: "";
  position: absolute;
  /* top: -20px;
  right: -20px; */
  height: 6rem;
  width: 100%;
  background-color: rgb(185, 109, 23);
  transform: translateX(50px%);
  /* z-index: -1; */
}

/* Blog section */
.blog-container {
  padding: 0 0 170px 0;
}
.card-section {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  margin: 0 auto;
  display: flex;
  width: 90%;
}

.medium-card {
  width: 340px;
  height: 340px;
  background-color: rgb(235, 235, 253);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 5px #c2c2c2;
}

.medium-card .img {
  background-image: url("../assets/blog-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 2 1 10rem;
  border-radius: 10px 10px 0 0;
  /* overflow: hidden; */
}

.medium-card .text {
  flex: 1 1 10rem;
  padding: 15px;
}

.medium-card .text h1 {
  text-align: center;
  padding: 10px 0;
}

.medium-card .text p {
  text-align: center;
  padding: 15px;
}
/* discover section */

.discover-section {
  width: 100%;
  height: 80vh;
}

/* .discover-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: bisque;
  height: 100%;
  width: 90%;
}
.discover-container div {
  background-color: darkolivegreen;
  width: 100px;
} */

/* show section */

.showBlog-section {
  width: 90%;
  margin: 0 auto;
  padding: 0 0 100px 0;
}

/* footer section */
.footer-section {
  text-align: center;
  height: 50vh;
  background-color: #c4ddec;
}
