@import url("https://fonts.googleapis.com/css2?family=Allison&family=Asul&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar section */

nav {
  margin: auto;
  font-family: "Asul", sans-serif;
  background-color: #f5f5f4;
  /* font-family: "Allison", cursive; */
}

nav .nav-container {
  min-height: 10vh;
  width: 50vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  padding: 0.8rem;
  text-decoration: none;
  color: black;
}

.nav-item2 {
  font-size: 2rem;
}

.nav-item1,
.nav-item3 {
  font-size: 0.8rem;
}

/* Hero section */

.hero-section {
  height: 70vh;
}

.hero-img {
  height: 50px;
}
